/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
*/

/* col */
body .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .component */
body .component {
    display: flex;
    flex-direction: column;

    align-items: center;
}

/* .col.img */
.col.img {
    width: 65.4rem;
    height: 48rem;
    background: url(../images/image-header-mobile.jpg);
    position: relative;
}
