/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
*/

body {
    padding: 7rem 1rem;
}

/* .component */
body .component {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* component-wrapper */
body .component .component-wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-desaturated-blue);
}

/* col */
body .component .component-wrapper .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 65.4rem;
}

/*               */

/* .col.img */
body .component .component-wrapper .col.img {
    max-height: 48rem;
    position: relative;
}

/* adicionando overlay */
body .component .component-wrapper .col.img::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(277deg 100% 33.46% / 50%);
    box-shadow: inset 2000px 0 0 0 hsl(0deg 0% 24% / 10%);
}

/*       */

/* adicionando paddin a .col.text */
body .component .component-wrapper .col.text{   
    margin: 3rem 0;
    padding: 0 5rem;

}

body .component .component-wrapper .col.text .main-text {
    margin-bottom: 4rem;
}

/* estilizando texto principal */
body .component .component-wrapper .col.text .main-text h1,
body .component .component-wrapper .col.text .main-text h1 span{
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    color: var(--White);
    margin-bottom: 2rem;
} 

body .component .component-wrapper .col.text .main-text h1 span {
    color: var(--Soft-violet);
}

body .component .component-wrapper .col.text .main-text p {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    
    line-height: 2.5rem;
    margin: 0 auto;
    color: var(--Slightly-transparent-white);
}

/* col-3 */

body .component .component-wrapper .col.text .info {
    margin-bottom: 2rem;
}

body .component .component-wrapper .col.text .info h2 {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    color: var(--White);
}

body .component .component-wrapper .col.text .info p {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: var(--Slightly-transparent-white);
    letter-spacing: 1.5px;
}
