/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
*/

/* col */
body .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .component */
body .component {
    display: flex;
    flex-direction: column;

    align-items: center;
}

/* .col.img */
.col.img {
    width: 65.4rem;
    height: 48rem;
    background: url(../images/image-header-mobile.jpg);
    position: relative;
}

/* adicionando overlay */
.col.img::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(277deg 100% 33.46% / 50%);
    box-shadow: inset 2000px 0 0 0 hsl(0deg 0% 24% / 10%);
}
